//- archivo con mixins
//-  menu-guest menu para las paginas de los visitantes no registrados
//-  menu-user  menu para las paginas de los visitantes registrados
//-  filtro     seccion para filtrar los vestidos
//-  foot       seccion que va al pie de las paginas
//-  input      un campo input para un formulario, contiene el label,
//-             el input y muestra errores si hay
//-  input_required un campo input para un formulario, contiene el label,
//-                 el input y muestra errores si los hay, pero el input es
//-                 es requerido, no deja pasar si no se llena el campo
//-  input_error          muestra los errores asociados a los inputs

mixin menu
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container            //-.collapse.navbar-collapse
      .navbar-header
        button.navbar-toggle(data-toggle='collapse' data-target='#dcMenu')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Dress Closet
      .collapse.navbar-collapse#dcMenu
        ul.nav.navbar-nav
          li.active: a(hfer="#") Home
          li: a(href='#') Pagina 1
        ul.nav.navbar-nav.navbar-right
          p.navbar-text Alias
          li: a(href="#")
            span.glyphicon.glyphicon-user
            span  Registrarse
          li: a(href="#")
            span.glyphicon.glyphicon-log-in
            span  Ingresar
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle='dropdown') Menu
              span.caret
            ul.dropdown-menu
              li: a(href="#") Action
              li.divider(role='separator')
              li: a(href="#") Link

mixin menu_guest
  h3: a(href='/') DressCloset
  ul
    if (pageName !== 'index')
      li: a(href='/') Inicio
    if (pageName !== 'dresses')
      li: a(href='/dresses_nr') Vestidos
    if (pageName !== 'login')
      li: a(href='/login') Ingresar
    if (pageName !== 'register')
      li: a(href='/register') Registrar

mixin menu_user(nombre)
  h3: a(href='/home') DressCloset
  p= nombre
  ul
    if (pageName !== 'dresses')
      li: a(href='/home') Vestidos
    if (pageName !== 'favorites')
      li: a(href='/favorites') Favoritos
    if (pageName !== 'profile')
      li: a(href='/profile') Perfil
    li: a(href='/logout') Salir
    //- if (pageName !== 'register')
    li: a(href='#') Menu

mixin filtro
  form(action='#' method='post')
    label(for='color') Color
    select(id='selColor')
      option Blanco
      option Negro
      option Rojo
      option Azul
      option Verde

mixin foot
  p
    ul
      li: a(href='#') Contacto
      li: a(href='#') Terminos y condiciones
      li: a(href='#') Privacidad

mixin input(title, type, field, value, errors)
  label(for=field)= title
  if value
    input(type=type name=field value=value placeholder='Actualizar')
  else
    input(type=type name=field placeholder='Crear')
  +input_error(errors, field)

mixin input_required(title, type, field, value, errors)
  label(for=field)= title
  if value
    input(type=type name=field value=value placeholder='Actualizar' required)
  else
    input(type=type name=field placeholder='Crear' required)
  +input_error(errors, field)

mixin input_error(errors, field)
  if (errors)
    each error in errors
      if (error.path == field)
        li.error ERROR. #{error.message}
